{% extends 'base.html' %}

{% load static %}

{% block content %}


<div>
    <div class="row">

      {% for category in categories %}
      <div class="col-md-4">
        <div class="card">
         {% with image_path='landing_images/'|add:category|add:'.jpg' %}
          <img src="{% static image_path %}" class="card-img-top" alt="{{ category }}">
         {% endwith %}
          <div class="card-body">
            <h5 class="card-title">{{ category }}</h5>
            <a href="http://localhost:8000/etienda/category/{{ category }}/" class="btn btn-primary">Ver Categoria</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
{% endblock%}


